body {
    background: #FFFFE4;
    color: #253A53;
    padding: 0 1rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
}

#myName {
    display: inline-flex;
    font-size: 2rem;
    text-decoration: none;
    color: #253A53;
    width: 100%;
}
nav {
    display: flex;
    top: 0;
}

.nav_links {
    display: flex;
    padding: 0;
    width: 75%;
    align-items: center;
    list-style-type: none;
    justify-content: flex-end;

}

.nav_links li {
    float: right;
    display: block;
    margin-inline-start: 1rem;
    text-decoration: none;
    padding: 5px;
    justify-content: flex-end;
    font-weight: 700;

}


h2 {
    font-size: 3rem;
}


.bio {
    display: flex;
}

#josh_headshot {
    width: 320px;
    height: auto;
    border-radius: 50px;
    margin-inline-end: 4rem;
}

@media (max-width: 1024px) {
    .bio{
        flex-direction: column;
        
    }
    .bio #josh_headshot {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

.work {
    padding-block-end: 3rem;
}

article {
    display: flex;
}

#Madlib {
    display: flex;
    width: 520px;
    height: auto;
}

@media (max-width: 1024px) {
    article {
        flex-direction: column;
    }
    article #Madlib{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}

footer{
    padding: 1rem 0;
    text-align: center;
}

footer ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer ul li {
    display: inline;
    margin: 0 8%;
}

footer a {
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    align-items: center;
}