body {
    background: var(--background);
    color: var(--primary);
    padding: 0 1rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;

        /*The CSS Color Variables*/
    --dark-background: #253a53;
    --dark-primary: #FFFFE4;
    
    --light-background: #FFFFE4;
    --light-primary: #253a53;

    --background: var(--light-background);
    --primary: var(--light-primary);

}
body a:hover {
    font-size: 1.1rem;
    transition: font-size .1s;
}
hr{
    color: var(--primary);
}

/* NAV BAR */

nav {
    display: flex;
    top: 0;
    justify-content: space-between
}

#myName {
    display: inline;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--primary);
    width: 100%;
    align-items: center;
}
#myName h1{
    justify-content: center;
    font-weight: 700;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    justify-content: space-between; 
}

nav li {
    display: inline-block; 
    text-decoration: none;
    font-weight: 750;
    align-items: center;
    margin: 5px;
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column; 
        justify-content: flex-start; 
        max-height: 50px;
        overflow: scroll;
    }

    nav li {
        margin: 3px; 
    }
}

li a{
    color: var(--primary);
    text-decoration: none;
}



/* DARK MODE SWITCH */
.switch {
    display: flex;
    justify-content: end;
    padding: 1 rem 0;
}

.dark-mode {
    display: inline-flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    font-size: .875rem;
    cursor: pointer;
}

.switch-border {
    display: inline-flex;
    align-items: center;
    width: 60px;
    height: 36px;
    border: 1px solid var(--primary);
    border-radius: 20px;
    box-sizing: border-box;
    margin-inline-start: 8px;
}

.dark-mode input {
    display: none;
}

.switch-dot {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: var(--primary);
    transform: translate3d(3px, 0, 0);
    transition: transform .1s ease-in-out;
}

.dark-mode input:checked + * .switch-dot{
    transform: translate3d(26px, 0, 0);
}


/* BIO */
h2 {
    font-size: 3rem;
}

.bio p{
    font-size: 1.2em;
}

.bio {
    display: flex;
    margin-bottom: 35px;
}

#josh_headshot {
    width: 320px;
    height: auto;
    border-radius: 50px;
    margin-inline-end: 4rem;
}

@media (max-width: 1024px) {
    .bio{
        flex-direction: column;
        
    }
    h2 {
        font-size: 2.7rem;
    }
    .bio #josh_headshot {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }
}


/* WORK SECTION */
.work {
    padding-block-end: 3rem;
}

.work h2{
    margin-top: 10px;
    margin-bottom: 5px;
}

.breakdots {
    text-align: center;
    justify-items: center;
    margin: 0;
}

article {
    display: flex;
    padding: 20px 0px;
    align-items: center;
}

.imgonright {
    padding-right: 15px;
}
.imgonleft {
    padding-left: 15px;
}

.work a {
    color: var(--primary);
    font-weight: 700;
}

#Madlib {
    display: flex;
    width: 520px;
    height: auto;
    transition: box-shadow 0.2s ease-in-out; 
}

#Madlib:hover {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
}

h4 {
    font-style: italic;
}

/*TECHNOLOGIES CONTAINER*/

.technologies {
    background-color: var(--background); 
    padding: 40px 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    margin: 20px auto; 
    max-width: 800px; 
}


.technologies h2 {
    font-size: 2rem; 
    color: var(--primary); 
    margin-bottom: 20px; 
    text-align: center; 
    font-family: 'Arial', sans-serif; 
}


.technologieslist {
    padding: 0; 
}

.technologieslist ul {
    list-style-type: none; 
    padding: 0; 
}

.technologieslist li {
    font-size: 1.2rem; 
    color: var(--primary); 
    margin-bottom: 10px; 
    padding: 8px; 
    border-bottom: 1px solid #ddd; 
    transition: background-color 0.3s; 
}


.technologieslist li:hover {
    background-color: #e0e0e0; 
}



@media (max-width: 1024px) {
    article {
        flex-direction: column;
    }
    article #Madlib{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    .skills-container {
        font-size: 25px;
        display: flex;
   
    }
}

/* CERTIFICATION SECTION */
.ccfrontend {
    padding: 15px 0px;
}

.ccfrontend img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/* FOOTER SECTION */
footer{
    padding: 1rem 0;
    text-align: center;
}

footer ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer ul li {
    display: inline;
    margin: 0 8%;
}

footer a {
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    align-items: center;
    color: var(--primary);
}